<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsDBtest2.Properties.Settings.ShopDATA866ConnectionString"
            connectionString="Data Source=DESKTOP-RR78NPP;Initial Catalog=ShopDATA866;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>